@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* żeby elementy blokowe przechodziły nizej */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    min-height: 100vh;
    font-family: "Roboto", arial, sans-serif;

}

nav ul {
    list-style: none;
    background-color: #f36639;
    position: relative;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
}

nav ul li {
    display: inline-block;
    padding: 20px 0px 20px 0;

}

nav ul li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 180px;
    font-size: 18px;
    line-height: 30px;
    color: white;
    transition: .3s;
}

nav ul li:nth-child(1) {
    height: 30px;
    margin-right: 22.4vw;
}

nav ul li:nth-child(1) a p {
    text-indent: -9999px;
}

nav ul li a img {
    position: absolute;
    top: 0%;
    left: 8px;
    height: 60px;
    z-index: 2;
    object-fit: cover;
}

nav ul li:hover {
    background-color: #b85332;
    transition: .5s;
}

nav ul li:nth-child(1):hover {
    background-color: #f36639;
}

.menu_hamburger {
    color: white;
    display: none;
}

.menu_hamburger.active {
    display: none;
}


@media (orientation: portrait) and (min-width: 320px) {

    .menu_hamburger {
        position: absolute;
        font-size: 40px;
        top: 15px;
        right: 30px;
        line-height: 50px;
        display: block;
        transition: .3s linear;
    }

    .fas.fa-times {
        display: none;
        color: gray;
    }

    nav ul.show {
        height: 60vh;
    }

    nav ul li:nth-child(n+2) {
        display: none;
    }

    nav ul li:nth-child(n+2).show {
        position: relative;
        top: 10px;
        left: 10px;
        display: flex;
    }

    nav ul li:nth-child(n+2).show a {
        position: absolute;
        left: 23%;
        top: 15px;
        text-align: center;
        font-size: 18px;
    }

    nav ul li.show {
        left: 0;
    }

    .fa_bars {
        display: block;
        height: 30px;
        font-size: 30px;
        width: 30px;
        color: green;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    nav ul.show {
        height: 55vh;
    }

}

@media (orientation: portrait) and (min-width: 768px) {
    .menu_hamburger {
        font-size: 40px;
        top: 12px;
        right: 60px;
    }

    nav ul.show {
        height: 38vh;
    }

    nav ul li:nth-child(n+2).show a {
        left: 35%;
        top: 20px;
    }
}

@media (orientation: landscape) {}

@media (orientation: landscape) and (max-width: 1023px) {
    .menu_hamburger {
        position: absolute;
        font-size: 40px;
        top: 10px;
        right: 50px;
        line-height: 50px;
        display: block;
        transition: .3s linear;
    }

    .fas.fa-times {
        display: none;
        color: gray;
    }

    nav ul.show {
        height: 70vh;
    }

    nav ul li:nth-child(n+2) {
        display: none;
    }

    nav ul li:nth-child(n+2).show {
        position: relative;
        top: -18px;
        left: 30px;
        display: flex;
        padding-bottom: 15px;
    }

    nav ul li:nth-child(n+2) {
        padding: 10px;
    }

    nav ul li:nth-child(n+2).show a {
        position: absolute;
        left: 32%;
        top: 15px;
        text-align: center;
        font-size: 15px;
    }

    nav ul li.show {
        left: 0;
    }

    .fa_bars {
        display: block;
        height: 30px;
        font-size: 30px;
        width: 30px;
        color: green;
    }
}

@media (orientation: landscape) and (max-width: 1279px) {

    nav ul li {
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
    }

    nav ul li a {
        width: 110px;
        font-size: 13px;
        line-height: 30px;
        color: white;
        transition: .3s;
    }

    nav ul li:nth-child(1) {
        margin-right: 6vw;
    }
}

@media (orientation: landscape) and (min-width: 1280px) and (max-width: 1380px) {

    nav ul li {
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
    }

    nav ul li a {
        width: 146px;
        font-size: 13px;
        line-height: 30px;
        color: white;
        transition: .3s;
    }

    nav ul li:nth-child(1) {
        margin-right: 3vw;
    }
}


@media (orientation: landscape) and (min-width: 1380px) and (max-width: 1680px) {
    nav ul li {
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
    }

    nav ul li a {
        width: 153px;
        font-size: 16px;
        line-height: 30px;
        color: white;
        transition: .3s;
    }

    nav ul li:nth-child(1) {
        margin-right: 7vw;
    }

}


/* 
SLIDEREK---------------------------------------------------------------------------
 */

.slider4.slider .element-title {
    font-family: 'Amatic SC', cursive;
    text-transform: none;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.slider4.slider .slider-slide:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(img/photo1.jpeg);
    background-size: cover;
    background-position: center center;
}

.slider4.slider .slider-slide:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(img/photo2.jpeg);
    background-size: cover;
    background-position: center center;
}

.slider4.slider .slider-slide:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(img/photo3.jpeg);
    background-size: cover;
    background-position: center center;
}

.slider {
    position: relative;
}

.slider-slides-cnt {
    height: 700px;
    /* position: relative; */
}

.slider-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    z-index: 0;
}

.slider-slide-active {
    opacity: 1;
    z-index: 1;
}

.slider .element-title {
    color: #fff;
    font-family: sans-serif;
    position: relative;
    left: -3rem;
    opacity: 0;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.slider .element-text {
    color: #fff;
    position: relative;
    left: -3rem;
    opacity: 0;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .6);
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
    font-family: serif;
    font-style: italic;
    max-width: 60%;
}

/* animacja */


.slider-slide {
    opacity: 0;
    transition: 0.4s all;
}

.slider-slide-active {
    opacity: 1;
}

.slider .element-title {
    left: -3rem;
    opacity: 0;
    transition: 2s left, 2s opacity;
}

.slider .element-text {
    left: -3rem;
    opacity: 0;
    transition: 2s 1s left, 2s 1s opacity;
}

.slider-slide-active .element-title {
    left: 0;
    opacity: 1;
}

.slider-slide-active .element-text {
    left: 0;
    opacity: 1;
}

.slider-button-prev,
.slider-button-next {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    text-indent: -999px;
    overflow: hidden;
}

.slider-button-next {
    left: auto;
    right: 0;
}

.slider-button-prev:focus,
.slider-button-next:focus {
    outline: none;
}

.slider-button-prev:before,
.slider-button-next:before {
    content: '<';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #fff;
    text-indent: 0;
}

.slider-button-next:before {
    content: '>';
}

.slider-dots {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.slider-dots-element {}

.slider-dots-button {
    background: transparent;
    width: 2rem;
    height: 2rem;
    border: 0;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.slider-dots-button:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    transition: 0.5s all;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.slider-dots-element-active .slider-dots-button:before {
    background: #fff;
    transform: translate(-50%, -50%) scale(1.2);
}

.slider-dots-button:focus {
    outline: none;
}


/* 


Sliderek zobaczymy








*/




@keyframes slide {
    0% {
        left: 125%;
    }

    20% {
        left: 100%;
    }

    40% {
        left: 75%;
    }

    60% {
        left: 50%;
    }

    90% {
        left: 50%;
    }

    95% {
        left: 50%;
    }


}


.slider h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: tahoma, sans-serif;
    text-shadow: 0 0 6px white;
}

.dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.dots span {
    display: inline-block;
    background-color: #000;
    margin: 0 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 00 0 5px white;
}

.dots span.active {
    box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
}

/* 
trzy divy --------------------------------------------------------------
 */

.descriptionAbout {
    background-color: #ecebe4;
    padding: 20px 0;
    height: 40vh;
    font-family: 'Open Sans', sans-serif;
}

.descriptionAbout .main {
    text-align: center;
    margin: 20px 0 40px 0;
    font-size: 30px;
}

.descriptionAbout .containerAbout {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.descriptionAbout .containerAbout .about {
    padding: 20px;
    width: 25vw;
    height: 25vh;
    text-align: center;
    background-color: rgb(241, 120, 38);
    transition: 1s;

}

.descriptionAbout .containerAbout .about h1 {
    color: black;
    margin-bottom: 20px;
}

.descriptionAbout .containerAbout .about p {
    color: white;
}

.descriptionAbout .containerAbout .about:hover {
    filter: brightness(88%);
}

.descriptionAbout .containerAbout .about:hover h1 {
    color: white;

}

/* 
    TEKST home-----------------------------------------------------------------
 */

.text {
    /* display: flex; */
    /* height: 60vh; */
    padding: 40px;
    background-color: #ecebe4;
    padding-bottom: 20px;
    /* top: 10px; */
    /* position: absolute; */
}

.text h1 {
    text-align: center;
    padding: 20px;
    font-size: 45px;
}

.text ul {
    list-style: dotted;
    list-style-position: inside;
    padding: 20px;

}

.text ul li {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

.text p {
    font-size: 20px;
    text-align: center;
}

/*
TESKT O NAS--------------------------------------------------- 

 */
.aboutInfo {
    background-color: #ecebe4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 93vh;
}

.aboutInfo h1 {
    flex-basis: 100%;
    flex-grow: 0;
    text-align: center;
    padding: 30px;
    color: rgb(231, 69, 69);
    font-size: 50px;
}

.aboutInfo p {
    font-family: "Poppins", sans-serif;
    width: 70%;
    /* flex-grow: 1; */
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

/*
TESKT SKLEP--------------------------------------------------- 

 */

.aboutInfoShop {
    background-color: #ecebe4;
    /*ecebe4; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 120vh;
    padding: 20px;
}

.aboutInfoShop .haki,
.boxy,
.bagazniki,
.uklad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 4px 4px 8px #d1cfcf;
    background-color: #e7e7df;
    margin: 10px;
    border-radius: 25px;
}

.uklad ul {
    list-style: none;
}

.uklad ul li {
    /* display: inline-block; */
    /* padding: 20px */
    /* list-style: none; */

}

.uklad ul li a {
    display: block;
    /* text-transform: uppercase; */
    text-decoration: none;
    list-style: none;
    /* text-align: center; */
    /* width: 18px; */
    font-size: 18px;
    padding: 10px;
    /* line-height: 30px; */
    color: rgb(148, 150, 245);

    /* transition: .3s; */
}

.uklad ul li a:hover {
    color: brown;
}

.aboutInfoShop h1 {
    flex-basis: 100%;
    /* flex-grow: 0; */
    text-align: center;
    padding: 5px;
    color: rgb(231, 69, 69);
    font-size: 50px;

}

.aboutInfoShop p {
    font-family: "Poppins", sans-serif;
    width: 100%;
    /* flex-grow: 1; */
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.aboutInfoShop p:nth-of-type(8),
p:nth-of-type(9) {
    font-family: "Poppins", sans-serif;
    width: 65%;
    /* flex-grow: 1; */
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

/*
TESKT SKLEP--------------------------------------------------- 

 */

.aboutInfoWorkshop {
    background-color: #ecebe4;
    /*ecebe4; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 120vh;
    padding: 20px;
}


.aboutInfoWorkshop h1 {
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(231, 69, 69);
    font-size: 50px;
}

.aboutInfoWorkshop .imageWorkshopImg {
    width: 50vw;
    height: 40vh;
    background-image: url("img/ukladWyd2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid goldenrod;
    padding: 15px;
}

.aboutInfoWorkshop .imageWorkshopImg2 {
    width: 50vw;
    height: 40vh;
    background-image: url("img/katalizator.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid goldenrod;
    padding: 15px;
}



.aboutInfoWorkshop ul li a {
    display: block;
    /* text-transform: uppercase; */
    text-decoration: none;

    /* text-align: center; */
    /* width: 18px; */
    font-size: 18px;
    margin-left: 10px;
    padding: 10px;
    /* line-height: 30px; */
    color: black;

    /* transition: .3s; */
}

.aboutInfoWorkshop h2 {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(231, 69, 69);
    font-size: 35px;
    margin-top: 20px;
}

.aboutInfoWorkshop p {
    font-family: "Poppins", sans-serif;
    width: 70%;
    /* flex-grow: 1; */
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.aboutInfoWorkshop p:nth-of-type(4),
p:nth-of-type(5) {
    /* font-family: "Poppins", sans-serif; */
    width: 70%;
    /* flex-grow: 1; */
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

/*
TESKT OFERTA--------------------------------------------------- 

 */
.aboutInfoOffer {
    background-color: #ecebe4;
    position: relative;
    /*ecebe4; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 20px;
}

.bgImg {
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 140vh;
    background-image: url(img/tlo.jpg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-origin: border-box;
    top: 40%;
    left: 0;
    /* transform: translate(-50%, -50%); */
    opacity: 0.1;
}

.bgImg2 {
    width: 99vw;
    height: 100vh;
    background-size: cover;
    background-image: url(img/tlo2.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    /* top: 20%;
    left: 80%; */
    /* transform: translate(-50%, -50%); */
    opacity: 0.1;
}


.aboutInfoOffer h1 {
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(231, 69, 69);
    font-size: 50px;
}



.aboutInfoOffer .imageWorkshopImg {
    width: 50vw;
    height: 40vh;
    background-image: url("img/ukladWyd2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid goldenrod;
    padding: 15px;
}

.aboutInfoOffer .imageWorkshopImg2 {
    width: 50vw;
    height: 40vh;
    background-image: url("img/katalizator.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    border: 3px solid goldenrod;
    padding: 15px;
}

.aboutInfoOffer .firstUl {
    list-style: none;
}

.aboutInfoOffer ul li a {
    display: block;
    /* text-transform: uppercase; */
    text-decoration: none;

    /* text-align: center; */
    /* width: 18px; */
    font-size: 18px;
    margin-left: 10px;
    padding: 10px;
    /* line-height: 30px; */
    color: rgb(51, 3, 3);

    /* transition: .3s; */
}

.aboutInfoOffer h2 {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(231, 69, 69);
    font-size: 35px;
    margin-top: 20px;

}

.aboutInfoOffer h4 {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(69, 80, 231);
    font-size: 25px;
    margin-top: 20px;

}

.aboutInfoOffer h5 {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
    color: rgb(69, 80, 231);
    font-size: 25px;
    margin-top: 20px;
}

.secondUl {
    width: 70%;
    list-style: square;
    /* margin: 0 auto;
    vertical-align: middle; */
}

.secondUl li {
    margin-left: 6vw;
}

.secondUl li a {
    /* display: block; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    text-decoration: none;
    margin: 0 auto;
    /* text-align: center; */
    /* width: 18px; */
    font-size: 18px;
    /* margin-left: 100px; */
    padding: 10px;
    /* line-height: 30px; */
    color: rgb(51, 3, 3);

    /* transition: .3s; */
}

.aboutInfoOffer p {
    font-family: 'Lato', sans-serif;
    width: 70%;
    /* flex-grow: 1; */
    text-align: center;
    padding: 15px;
    font-size: 20px;
    /* font-family: 'Montserrat', sans-serif; */
    margin-top: 10px;
}

/* .aboutInfoOffer p:nth-of-type(4),
p:nth-of-type(5) {
    font-family: "Poppins", sans-serif;
    width: 70%;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
} */

/* 
    KONTAKT-----------------------------------------------------------------
 */


.contact {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ecebe4;
    padding: 20px;
    height: 83.6vh;
    flex-wrap: wrap;
    font-family: 'Texturina', sans-serif;
}

.contact .info {

    width: 100%;
    flex-basis: 35%;
}

.contact h1 {
    text-align: center;
    color: rgb(33, 51, 51);
    font-size: 40px;
}

.icons {
    text-align: center;
    flex-grow: 1;
    padding: 20px;
    font-size: 23px;
}

.icons p {
    color: #001f3f;
}

.icons a {
    text-decoration: none;
}

.icons p:nth-child(even) a {
    color: rgb(77, 166, 218);
}

.icons p:nth-child(5) a {
    color: rgb(77, 166, 218);
}

.icons i {
    color: rgb(189, 148, 82);
    padding: 10px;
    font-size: 23px;
}

.icons i:hover {
    color: rgb(67, 94, 214);
}

.contact .wrapForm {
    width: 100%;
    flex-basis: 50%;

}

.contact .wrapForm h3 {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact .wrapForm input {
    /* border: 2px solid black; */
    border: none;
    padding: 8px 15px 8px 15px;
    background: #e0ddf6;
    color: #fff;
    box-shadow: 2px 2px 8px #DADADA;
    border-radius: 3px;
    width: 50%;
    height: 8%;
}

.contact .wrapForm textarea {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #ffca92;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    width: 50%;
    height: 30%;
}

button {
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 15%;
    margin-bottom: 20px;
}


/* 
STOPKA-------------------------------------------------------------
 */

footer {
    padding: 10px;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    height: 3vh;
    text-align: center;
    /* text-transform: uppercase; */
    background-color: rgb(27, 24, 24);
    /* color: rgb(29, 146, 117); */
    color: rgb(199, 194, 194);
}

footer span {
    color: rgb(199, 194, 194);
}